{% extends 'layout.html' %}

{% block content %}

    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}

    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a class="btn btn-success" href="/goods/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建商品
            </a>

            <div style="float: right;width: 300px;">
                <form method="get">
                    <div class="input-group">
                        <label>
                            <input type="text" name="q" class="form-control" placeholder="搜索(名称)..."
                                   value="{{ search_data }}">
                        </label>
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                商品列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>id</th>
                    <th>价格</th>
                    <th>名称</th>
                    <th>数量</th>
                    <th>折扣</th>
                    <th>详情</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.count }}</td>
                        <td>{{ obj.discount }}</td>
                        <td>{{ obj.introduce }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/goods/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/goods/{{ obj.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
                </div>
        <div class="clearfix">
            <ul class="pagination" style="float: left">
                {{ page_string }}
            </ul>
        </div>

    </div>
{% endblock %}
